<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>ARTICLES.TITLE.DETAILS</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="text-block shortcode-container" translate>
			<uib-tabset class="custom nav navbar-nav navbar-main-menu filters" vertical="false" type="pills">
				<uib-tab heading="{{'MENU.POINT2POINT'|translate}}">
					<div class="row">
						<div class="col-md-12">
							<pre>
								{{detail|json}}
							</pre>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">

	</div>
</div>
