<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>ARTICLES.TITLE.FEATURES</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="text-block shortcode-container" translate>
			ARTICLES.CONTENT.FEATURES
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="alert alert-info" role="alert">
			<span ng-if="travelData.distance">Approx. Distance: <b>{{travelData.distance}} km</b>, and Travel Time: <b>{{travelData.duration}} min.</b></span>
			<span translate ng-if="!travelData.distance">LABEL.SELECTPOINTS</span>
		</div>
		<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" events="map.events">
			<ui-gmap-marker coords="marker1.coords" options="marker1.options" events="marker1.events" idkey="marker1.id"></ui-gmap-marker>
			<ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker2.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>
