<!--Dashboard-->
<section-box-header></section-box-header>
<section-box-buttons leftbutton="none" showfilter="period"></section-box-buttons>
<div class="box-body">
	<div class="row">
		<!-- stats row -->
		<div class="col-md-4">
			<!-- stats orders -->
			<div class="databox databox-lg radius-bordered databox-shadowed fade" ng-if="periodobject">
				<div class="databox-left bg-light-blue-gradient" tooltip="{{'PRCVERIFIED'|translate}}">
					<h2 count-up id="prcOrdersDone" ng-model="prcOrdersDone" data-suffix="%">{{prcOrdersDone}}%</h2>
				</div>
				<div class="databox-right bordered-thick bordered-primary">
					<span class="databox-number green">
						<i class="fa fa-list-alt"></i>{{cntOrdersAll}}</span>
					<div class="databox-text darkgray">{{'cntOrders'|translate}} {{'BYY'|translate}} {{periodobject[periodfilter].trans|translate|lowercase}}
					</div>
					<div class="databox-stat bg-light-blue-gradient radius-bordered" tooltip="{{'INCDOWNPRC'|translate}}">
						<div class="stat-text" count-up id="prcOrdersLast" ng-model="prcOrdersLast" data-suffix="%" data-animation-length="1">{{prcOrdersLast}}%</div>
						<i class="stat-icon fa " ng-class="{'fa-arrow-up':prcOrdersLast>0, 'fa-arrow-down':prcOrdersLast<=0 }"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- stats percent done -->
			<div class="databox databox-lg radius-bordered databox-shadowed fade" ng-if="periodobject">
				<div class="databox-left bg-yellow-gradient" tooltip="{{'PRCVERIFIED'|translate}}">
					<h2 count-up id="prcJorProcessDone" ng-model="prcJorProcessDone" data-suffix="%">{{prcJorProcessDone}}%</h2>
				</div>
				<div class="databox-right bordered-thick bordered-yellow">
					<span class="databox-number yellow">
						<i class="fa fa-flask"></i>{{cntJorProcessAll}}</span>
					<div class="databox-text darkgray" >{{'CNTLABPROCESS'|translate}} {{'BYY'|translate}} {{periodobject[periodfilter].trans|translate|lowercase}}
					</div>
					<div class="databox-stat bg-yellow-gradient radius-bordered" tooltip="{{'INCDOWNPRC'|translate}}">
						<div class="stat-text" count-up id="prcJorProcessLast" ng-model="prcJorProcessLast" data-suffix="%" data-animation-length="1">{{prcJorProcessLast}}%</div>
						<i class="stat-icon fa " ng-class="{'fa-arrow-up':prcJorProcessLast>0, 'fa-arrow-down':prcJorProcessLast<=0}"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- stats labproc // ng-if="$state.includes('main.private.dashboard')" -->
			<div class="databox databox-lg radius-bordered databox-shadowed fade" ng-if="periodobject">
				<div class="databox-left bg-palegreen-gradient" tooltip="{{'PRCINDICSBYALL'|translate}}">
					<h2 count-up id="prcIndicators" ng-model="prcIndicators" data-suffix="%">{{prcIndicators}}%</h2>
				</div>
				<div class="databox-right bordered-thick bordered-green">
					<span class="databox-number">
						<i class="fa fa-line-chart"></i><span>{{cntQualityControlAll}}</span></span>
					<div class="databox-text" translate="CNTQALITYCARDS"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-solid" ng-if="groupChartConfig.series[0].data.length>0">
				<div class="box-tools pull-right"></div>
				<div class="box-body text-center">
					<chart-mini config="groupChartConfig" global-otions="options"></chart-mini>
				</div>
				<div class="box-footer text-center" ng-if="analChartConfig.series[0].data.length>0">{{'ANALISYS'|translate}}&nbsp;{{chartname|translate}}&nbsp;{{'BYY'|translate}}&nbsp;{{periodobject[periodfilter].trans|translate|lowercase}}</div>
			</div>
			<div class="databox databox-lg radius-bordered databox-shadowed fade" ng-if="groupChartConfig.series[0].data.length==0">
				<div class="databox-left bg-gray">
					<i class="fa fa-2x fa-pie-chart text-muted"></i>
				</div>
				<div class="databox-right bordered-thick bordered-gray">
					<span class="databox-header">{{'ANALISYS'|translate}}&nbsp;{{chartname|translate}}&nbsp;{{'BYY'|translate}}&nbsp;{{periodobject[periodfilter].trans|translate|lowercase}}</span>
					<div class="databox-text hidden-xs" translate="WILLBECHART"></div>
					<div class="databox-stat bg-gray radius-bordered"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-solid" ng-if="analChartConfig.series[0].data.length>0">
				<div class="box-tools pull-right"></div>
				<div class="box-body text-center">
					<chart-mini config="analChartConfig" global-otions="options"></chart-mini>
				</div>
				<div class="box-footer text-center" ng-if="analChartConfig.series[0].data.length>0">{{'ANALISYS'|translate}}&nbsp;{{chartname2|translate}}&nbsp;{{'BYY'|translate}}&nbsp;{{periodobject[periodfilter].trans|translate|lowercase}}</div>
			</div>
			<div class="databox databox-lg radius-bordered databox-shadowed fade" ng-if="analChartConfig.series[0].data.length==0">
				<div class="databox-left bg-gray">
					<i class="fa fa-2x fa-pie-chart text-muted" ></i>
				</div>
				<div class="databox-right bordered-thick bordered-gray">
					<span class="databox-header">{{'ANALISYS'|translate}}&nbsp;{{chartname2|translate}}&nbsp;{{'BYY'|translate}}&nbsp;{{periodobject[periodfilter].trans|translate|lowercase}}</span>
					<div class="databox-text hidden-xs" translate="WILLBECHART"></div>
					<div class="databox-stat bg-gray radius-bordered"></div>
				</div>
			</div>
		</div>
	</div>
</div>
