<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>ARTICLES.TITLE.FEATURES</h2>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="text-block shortcode-container" translate>
			ARTICLES.CONTENT.FEATURES
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" events="map.events">
			<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
			<ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>
