<div class="container">
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12" style="background: transparent  ">
				<div class="heading-block text-left heading-block-line">
					<h2 class="special-heading">Features</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6" style="background: transparent  top left no-repeat scroll;">
				<div class="text-block shortcode-container">
					<ul class="list-triangle">
						<li>No middle-man to take your profit, such as Other APP</li>
						<li>Easily find the nearest Taxi</li>
						<li>Compare prices and find the best deal</li>
						<li>No need to create, maintain and market your own web-site. It is all taken care of. We will do the marketing for you in Google, news-papers and other media</li>
						<li>You will get 24/7 support</li>
						<li>Local Services in and around Switzerland</li>
						<li>Airport /Railway Station Transfer</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6" style="background: transparent  top left no-repeat scroll;">
				<div class="video-wrapper shortcode-container">
					<iframe src="//player.vimeo.com/video/87701971" width="600" height="338" frameborder="0" title="Yosemite HD II" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</section>
</div>
