<div class="box-header"><!--  ng-if="$state.includes('**[^.order.**]')" -->
	<h3 class="box-title">{{$state.$current.views.data.pageTitle |translate}}<!-- додатковий текст в заголовку -->
		<small ng-if="$state.includes('**.search')">{{'CONTAINING'|translate}} "{{$stateParams.id}}"</small>
		<small ng-if="($state.includes('**.cfgemail'))&&(!setemail.isUseDefault)">{{'MAIL_YOUAREUSING_DEFAULT'|translate}}</small>
		<small ng-if="($state.includes('**.cfgemail'))&&(setemail.isUseDefault)">{{'MAIL_YOUAREUSING_OWN'|translate}}</small>
	</h3>
	<div class="box-tools pull-right"><!-- кнопки зправа -->
		<small ng-if="($state.includes('**.searchview'))&&(lastedit)" class="pad">{{'DATEVERIFIED'|translate}}: <b>{{lastedit | amDateFormat:'L HH:mm'}}</b></small>
		<div ng-if="$state.includes('**.cfgemail')" class="">
			<button type="button" class="btn btn-block" ng-click="setemail.isUseDefault = !setemail.isUseDefault"
			ng-class="!setemail.isUseDefault ? 'btn btn-default' : 'btn btn-warning active'">
			<i class="fa fa-envelope-o"></i>
			<span ng-if="!setemail.isUseDefault">{{'MAIL_USEASDEFAULT'|translate}}</span>
			<span ng-if="setemail.isUseDefault">{{'MAIL_USEOWN'|translate}}</span>
			</button>
		</div>
	</div>
</div>