<div class="header-top custom">
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-3">
				<div class="logo">
					<a ui-sref="main.taxi.start"><img id="logo" class="img-responsive" src="/images/logo.png" alt=""></a>
				</div>
			</div>
			<div class="col-md-9 bar">
				<ul class="nav navbar-nav top-nav left">
					<li class="" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>
						<a href="" class="ico fa-taxi">Taxi</a>
					</li>
					<li class="" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>
						<a href="" class="ico fa-car">Van</a>
					</li>
					<li class="" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">
						<a href="" class="ico fa-bus">Bus</a>
					</li>
				</ul>
				<ul class="nav navbar-nav top-nav right navbar-symbols">
					<li>
						<a ui-sref="main.auth.login" class="ico fa-sign-in">
							<span class="hidden-xs" translate>BUTTON.LOGIN</span>
						</a>
					</li>
					<li>
						<a ui-sref="main.auth.registration" class="ico fa-user-plus">
							<span class="hidden-xs" translate>BUTTON.SIGNUP</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="header-style-2 main-navigation custom" sticky media-query="min-width: 768px;" ng-if="$state.includes('**.taxi.**')">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default " role="navigation">
					<div class="">
						<uib-tabset class="custom nav navbar-nav navbar-main-menu filters" vertical="false" type="pills">
							<uib-tab>
								<uib-tab-heading>
					        <span class="ico fa-location-arrow" translate>MENU.POINT2POINT</span>
					      </uib-tab-heading>
								<div class="row" ng-form name="searchform" novalidate>
									<div class="col-sm-5">
										<div class="form-group">
											<input type="text" name="point1" g-places-autocomplete options="autocompleteOptions" ng-model="address.point1" class="form-control" required/>
										</div>
										<br>
									</div>
									<div class="col-sm-5">
										<div class="form-group">
											<input type="text" name="point2" g-places-autocomplete options="autocompleteOptions" ng-model="address.point2" class="form-control" required/>
										</div>
										<br>
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-primary btn-block" style="margin:0" ng-click="doSearch(address)"><span class="ico fa-search" translate>BUTTON.SEARCH</span></button>
									</div>
								</div>
							</uib-tab>
							<uib-tab>
								<uib-tab-heading>
					        <span class="ico fa-plane" translate>MENU.AIRPORT</span>
					      </uib-tab-heading>
								<div>Aiport to City - City to Aiport</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /.Heder -->
