	<section id="sidebar" class="sidebar scrollme">
		<!-- <ul class="sidebar-menu" highlight-active >
			<li class="" ng-repeat="item in itemsMenu" ui-sref-active="active">
				<a class="hvr-underline-reveal" ui-sref="{{item.state}}" tooltip="{{item.name|translate}}" tooltip-placement="right" tooltip-popup-delay="500" tooltip-enable="!menuStatus">
					<i class="fa {{item.icon}} text-center hvr-bob" ng-class="{'fa-lg': !menuStatus}"></i>
					<span ng-hide="!menuStatus">{{item.name|translate}}</span>
					<small ng-if="item.badge" class="label pull-right bg-sky">{{item.badge}}</small>
				</a>
			</li>
		</ul> -->
	</section>
