<td>
<!-- for dics EDIT -->
	<button ng-if="(tbtype=='standartedit')&&(!item.$edit)&&!(($state.is('main.private.employees')&&(!isSuperUser)))" class="btn btn-default btn-xs" ng-click="editRow(item); item.$edit = true" ng-disabled="{{tbdisablededit}}" tooltip="{{'EDIT'|translate}}">
	<i class="fa fa-edit"></i>&nbsp;<span class="visible-fhd" translate>EDIT</span></button>
	<button ng-if="(tbtype=='standartedit')&&(item.$edit)" class="btn btn-primary btn-xs" type="submit"
	ng-class="{disabled : editRowForm.$invalid}" ng-click="update(newValue, item)" tooltip="{{'SAVE'|translate}}">
	<i class="fa fa-check"></i>&nbsp;<span class="visible-fhd" translate>SAVE</span></button>
	<button ng-if="(tbtype=='standartedit')&&(item.$edit)" class="btn btn-danger btn-xs" value="cancel" ng-click="item.$edit = false" tooltip="{{'CANCEL'|translate}}">
	<i class="fa fa-close"></i>&nbsp;<span class="visible-fhd" translate>CANCEL</span></button>
	<button ng-if="(tbtype=='standartedit')&&(!item.$edit)&&!(($state.is('main.private.employees')&&(!isSuperUser)))&&!($state.is('main.private.qualitycontrol.dt'))" class="btn btn-danger btn-xs" value="cancel" ng-click="deleteRow(item)" ng-disabled="{{tbdisableddelete}}" tooltip="{{'DELETE'|translate}}">
	<i class="fa fa-trash"></i>&nbsp;<span class="visible-fhd" translate>DELETE</span></button>
<!-- for dics ADD -->
	<button type="submit" ng-if="(tbtype=='standartadd')&&(showAdd)" class="btn btn-primary btn-xs" ng-click="addRow(add).$valid"
	ng-class="{disabled : addRowForm.$invalid}" tooltip="{{'SAVE'|translate}}">
	<i class="fa fa-check"></i>&nbsp;<span class="visible-fhd" translate>SAVE</span></button>
	<button ng-if="(tbtype=='standartadd')&&(showAdd)" class="btn btn-danger btn-xs" value=" cancel" ng-click="cancelAdd()" tooltip="{{'CANCEL'|translate}}">
	<i class="fa fa-close"></i>&nbsp;<span class="visible-fhd" translate>CANCEL</span></button>
<!-- for dics ADD -->
	<button ng-if="tbtype=='indicedit'"class="btn btn-default btn-xs" ng-click="edit(item); item.$edit = true" tooltip="{{'EDIT'|translate}}">
	<i class="fa fa-edit"></i>&nbsp;<span class="visible-fhd" translate>EDIT</span></button>
	<button ng-if="tbtype=='indicedit'" class="btn btn-danger btn-xs" value="cancel" ng-click="deleteRow(item)" tooltip="{{'DELETE'|translate}}">
	<i class="fa fa-trash"></i>&nbsp;<span class="visible-fhd" translate>DELETE</span></button>
<!-- for jors EDIT VIEW -->
	<button ng-if="tbtype=='joredit'"class="btn btn-default btn-xs" ng-click="edit(item)" tooltip="{{'EDIT'|translate}}">
	<i class="fa fa-edit"></i>&nbsp;<span class="visible-fhd" translate>EDIT</span></button>
	<button ng-if="tbtype=='joredit'" class="btn btn-success btn-xs" value="cancel" ng-click="view(item)" tooltip="{{'VIEW'|translate}}">
	<i class="fa fa-eye"></i>&nbsp;<span class="visible-fhd" translate>VIEW</span></button>
<!-- for jors EDIT VIEW -->
	<button ng-if="tbtype=='joreditqc'"class="btn btn-default btn-xs" ng-click="edit(item)" tooltip="{{'EDIT'|translate}}">
	<i class="fa fa-edit"></i>&nbsp;<span class="visible-fhd" translate>EDIT</span></button>
	<button ng-if="tbtype=='joreditqc'" class="btn btn-success btn-xs" value="cancel" ng-click="result(item)" tooltip="{{'FILL'|translate}}">
	<i class="fa fa-flask"></i>&nbsp;<span class="visible-fhd" translate>FILL</span></button>
</td>
