<div class="row row-center">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>BUTTON.ADDTAXI</h2>
		</div>
		<form name="form1" novalidate>
			<formly-form model="form.model" fields="form.fields" form="form1" options="form.options"></formly-form>
			<div class="row">
				<div class="col-sm-12 text-center">
					<button type="button" class="btn btn-success" ngf-select="uploadFiles($files, $invalidFiles)" multiple
									accept="image/*" ngf-max-height="4000" ngf-max-size="10MB">
									<i class="fa fa-plus"></i><span translate>BUTTON.SELECTFILES</span></button>
					<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid" ng-click="onSubmit()" translate> BUTTON.SUBMIT</button>
					<button type="button" class="btn btn-default" ng-click="resetAllForms()" translate>BUTTON.RESET</button>
				</div>
			</div>

			<!--<br><br>
					<div> Files:
					<ul>
					<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      				<span class="progress" ng-show="f.progress >= 0">
        			<div style="width:{{f.progress}}%"
			 			ng-bind="f.progress + '%'"></div>
      				</span>
					</li>
						<li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
					</li>
					</ul>
					{{errorMsg}}
					</div>-->
		</form>
		<!-- The file upload form used as target for the file upload widget -->
		<form
			id="fileupload"
			enctype="multipart/form-data"
			file-upload="UPoptions"
			ng-class="{'fileupload-processing': processing() || loadingFiles}">
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
				<div class="col-md-12 text-center">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Add files...</span>
						<input type="file" name="myFile[]" multiple ng-disabled="disabled">
					</span>
					<button type="button" class="btn btn-primary start" ng-click="submit()">
						<i class="glyphicon glyphicon-upload"></i>
						<span>Start upload</span>
					</button>
					<button type="button" class="btn btn-warning cancel" ng-click="cancel()">
						<i class="glyphicon glyphicon-ban-circle"></i>
						<span>Cancel upload</span>
					</button>
					<!-- The global file processing state -->
					<span class="fileupload-process"></span>
				</div>
				<!-- The global progress state -->
				<div class="col-lg-5 fade" ng-class="{in: active()}">
					<!-- The global progress bar -->
					<div class="progress progress-striped active" file-upload-progress="progress()">
						<div class="progress-bar progress-bar-success" ng-style="{width: num + '%'}"></div>
					</div>
					<!-- The extended global progress state -->
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table class="table table-striped files ng-cloak">
				<tr ng-repeat="file in queue" ng-class="{'processing': file.$processing()}">
					<td ng-switch on="!!file.thumbnailUrl">
						<div class="preview" ng-switch-when="true">
							<a ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" gallery><img ng-src="{{file.thumbnailUrl}}" alt=""></a>
						</div>
						<div class="preview" ng-switch-default file-upload-preview="file"></div>
					</td>
					<td>
						<p class="name" ng-switch on="!!file.url">
							<span ng-switch-when="true" ng-switch on="!!file.thumbnailUrl">
								<a ng-switch-when="true" ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" gallery>{{file.name}}</a>
								<a ng-switch-default ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
							</span>
							<span ng-switch-default>{{file.name}}</span>
						</p>
						<strong ng-show="file.error" class="error text-danger">{{file.error}}</strong>
					</td>
					<td>
						<p class="size">{{file.size | formatFileSize}}</p>
						<div
							class="progress progress-striped active fade"
							ng-class="{pending: 'in'}[file.$state()]"
							file-upload-progress="file.$progress()">
							<div class="progress-bar progress-bar-success" ng-style="{width: num + '%'}"></div>
						</div>
					</td>
					<td style="width:23%">
						<button
							type="button"
							class="btn btn-primary btn-symb start"
							ng-click="file.$submit()"
							ng-hide="!file.$submit || options.autoUpload"
							ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
							<i class="glyphicon glyphicon-upload"></i>
							<span></span>
						</button>
						<button type="button" class="btn btn-warning btn-symb cancel" ng-click="file.$cancel()" ng-hide="!file.$cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span></span>
						</button>
						<button
							ng-controller="FileDestroyController"
							type="button"
							class="btn btn-danger btn-symb destroy"
							ng-click="file.$destroy()"
							ng-hide="!file.$destroy">
							<i class="glyphicon glyphicon-trash"></i>
							<span></span>
						</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
