<div class="row row-center">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>BUTTON.ADDTAXI</h2>
		</div>
		<form name="form1" novalidate>
			<formly-form model="form.model" fields="form.fields" form="form1" options="form.options"></formly-form>
			<div class="form-group">
				<!-- <div class="col-sm-12"> -->
					<label for="up" class="control-label" translate>LABEL.TAXIIMAGES</label>
					<div class="text-center">
						<button id="up" type="button" class="btn btn-success" ngf-select="uploadFiles($files, $invalidFiles)" multiple
						accept="image/*" ngf-max-height="4000" ngf-max-size="10MB" ng-model="images">
							<i class="fa fa-plus"></i><span translate>BUTTON.SELECTFILES</span>
						</button>
					</div>
					<div class="row" ng-repeat="img in images track by $index">
						<div class="col-sm-4 mask-wrapper popup-img">
							<img ngf-src="img || 'images/noimage.png'" class="attachment-shop_catalog size-shop_catalog">
							<!-- <div ngf-thumbnail="img" class="attachment-shop_catalog size-shop_catalog"></div> -->
						</div>
						<div class="col-sm-6">
							<span>{{img.name}} ({{img.size}}b)</span>
							<!-- <uib-progressbar ng-show="img.progress > 0" class="progress-striped active" max="100" value="img.progress" type="warning"><i>{{img.progress}}% / 100</i></uib-progressbar> -->
						</div>
						<div class="col-sm-2">
							<button class="btn btn-danger btn-symb" ng-click="removeImage($index)" ng-show="img"><i class="fa fa-remove"></i></button>
						</div>
		      </div>
					<uib-alert type="danger" ng-show="errorMsg">{{errorMsg}}</uib-alert>
				<!-- </div> -->
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid" ng-click="onSubmit()" translate> BUTTON.SUBMIT</button>
					<button type="button" class="btn btn-default" ng-click="resetAllForms()" translate>BUTTON.RESET</button>
					<br>
					<!-- <div upload-file>Upload</div> -->
				</div>
			</div>
		</form>
	</div>
</div>
