<div class="row row-center">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>BUTTON.ADDTAXI</h2>
		</div>
		<form name="form1" novalidate>
			<formly-form model="form.model" fields="form.fields" form="form1" options="form.options"></formly-form>
			<div class="row">
				<div class="col-sm-12 text-center">
					<button type="button" class="btn btn-success" ngf-select="uploadFiles($files, $invalidFiles)" multiple
									accept="image/*" ngf-max-height="4000" ngf-max-size="10MB">
									<i class="fa fa-plus"></i><span translate>BUTTON.SELECTFILES</span></button>
					<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid" ng-click="onSubmit()" translate> BUTTON.SUBMIT</button>
					<button type="button" class="btn btn-default" ng-click="resetAllForms()" translate>BUTTON.RESET</button>
					<br>
					<div upload-file>Upload</div>
				</div>
			</div>

			<!--<br><br>
					<div> Files:
					<ul>
					<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      				<span class="progress" ng-show="f.progress >= 0">
        			<div style="width:{{f.progress}}%"
			 			ng-bind="f.progress + '%'"></div>
      				</span>
					</li>
						<li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
					</li>
					</ul>
					{{errorMsg}}
					</div>-->
		</form>
</div>
