<div class="row row-center">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading" translate>BUTTON.SIGNUP</h2>
		</div>
		<form ng-submit="onSubmit()" name="form" novalidate>
			<uib-tabset>
				<uib-tab ng-repeat="tab in tabs track by $index" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
					<formly-form model="tab.form.model" fields="tab.form.fields" form="form" options="tab.form.options"></formly-form>
					<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid" translate>BUTTON.SUBMIT</button>
					<button type="button" class="btn btn-default" ng-click="resetAllForms()" translate>BUTTON.RESET</button>
				</uib-tab>
			</tabset>
		</form>
	</div>
</div>
