<div class="row row-center">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<div class="heading-block text-left heading-block-line">
			<h2 class="special-heading">User Registration</h2>
		</div>
		<form ng-submit="onSubmit()" name="form" novalidate>
			<formly-form model="model" fields="fields" options="options">
				<button type="submit" class="btn btn-primary submit-button" ng-disabled="form.$invalid">
					Submit</button>
				<button type="button" class="btn btn-default" ng-click="options.resetModel()">
					Reset</button>
			</formly-form>
		</form>
	</div>
</div>
